@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MBO</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">CAR C EST NOTRE PROJET</a>.</p>
</div>
